{% extends 'postsApp/base.html' %}

{% block title %}
    Blocked users - Posts App
{% endblock %}

{% block content %}
    <div class="text-light d-flex justify-content-between">
        <div>
            <h1>Blocked users</h1>
            {% if blocked_users %}
                <ul>
                    {% for user in blocked_users %}
                        <li><h4>{{ user.user.username }}</h4></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>No blocked users</h4>
            {% endif %}
        </div>
        <form action="{% url 'block_user' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_to_block">Username
                    <select name="user_to_block" class="form-control">
                        {% for user in users %}
                            <option value="{{ user.user.username }}">
                                {% if user.full_name != '' %}
                                    {{ user.full_name }}
                                {% else %}
                                    {{ user.user.username }}
                                {% endif %}

                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <button type="submit" class="btn btn-success">Block</button>
        </form>
    </div>

{% endblock %}